@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url(/images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%) ;
}

/* main */
.main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 85%;
    margin: 0 auto;
}

/* section description */
.description {
    max-width: 50%;
    padding: 1rem;
}

/* title */
.title {
    color: #fff;
    font-size: 3rem;
    margin: 0;
    line-height: 3.2rem;
}

.description-text {
    color: #fff;
}


/* section formulary */
.formulary {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promotion {
    background-color: hsl(248, 32%, 49%);
    color: #fff;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    box-shadow: 0px 7px hsla(249, 10%, 26%, 0.342) ;
}

/* form box */
.form-box {
    background-color: #fff;
    padding: 2.3rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 7px hsla(249, 10%, 26%, 0.342) ;
    width: 100%;
}


/* labels */
label {
    width: 100%;
    display: flex;
    align-items: center;
}

input, button[type="submit"] {
    width: 100%;
    margin: 0;
    padding: 0.7rem 1.7rem;
}

input {
    border: hsl(246, 25%, 77%) solid 1px;
    border-radius: 10px;
    margin-bottom: 0.5rem ;
}

input:placeholder-shown {
    font-weight: bold;
}

button[type="submit"] {
    background-color: hsl(154, 59%, 51%);
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.2s linear;
    box-shadow: 0px 3px hsl(154, 42%, 38%) ;
}

button[type="submit"]:hover {
    box-shadow: 0px 5px hsla(249, 10%, 26%, 0.342) ;
    background-color: hsl(153, 68%, 64%);
}

/* Error  */

.error-placeholder:invalid::placeholder {
    color: hsl(0, 100%, 74%);
}

/* icon error  */
.icon-error {
    position: absolute;
    right: 18%;
    z-index: 5;
    visibility: hidden;
}

/* error msg */
form p {
    margin: 0.2rem;
    text-align: right;
    font-size: 10px;
    font-style: italic;
    color: hsl(0, 100%, 74%);
}



/* terms and service */
.terms-and-serv {
    font-size: 0.7rem;
    text-align: center;
    color: hsl(246, 25%, 77%);
}

.resalt-text {
    color: hsl(0, 100%, 74%);
    font-weight: bold;
    cursor: pointer;
}

.resalt-text:hover {
    color: hsl(248, 32%, 49%);
}

